{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'races/style.css' %}" />

<!DOCTYPE html>
<html>
    <ul>
      <li><a href="default.asp">Home</a></li>
      <li><a href="news.asp">News</a></li>
      <li><a href="contact.asp">Contact</a></li>
      <li><a href="about.asp">About</a></li>
    </ul>
    <div class = "container">
        
        <head>
            <title>Ironman Global Races</title>
            prout
        </head>

        <div>
            <body class = "main_text">
            An Ironman Triathlon is one of a series of long-distance triathlon races organized by the World Triathlon Corporation (WTC), consisting of a 2.4-mile (3.86 km) swim, a 112-mile (180.25 km) bicycle ride and a marathon 26.22-mile (42.20 km) run, raced in that order and without a break. It is widely considered one of the most difficult one-day sporting events in the world.
            <br><br>
            Most Ironman events have a limited time of 17 hours to complete the race. The race typically starts at 7:00 a.m.; the mandatory swim cut off for the 2.4-mile (3.86 km) swim is 9:20 a.m. (2 hours 20 minutes), the mandatory bike cut off time is 5:30 p.m. (8 hours 10 minutes), and the mandatory marathon cut off is midnight (6 hours 30 minutes). Any participant who manages to complete the triathlon within these time constraints is designated an Ironman.
            <br><br>
            The name "Ironman Triathlon" is also associated with the original Ironman triathlon which is now the Ironman World Championship. Held in Kailua-Kona, the world championship has been held annually in Hawaii since 1978 (with an additional race in 1982). Originally taking place in Oahu, the race moved to Kailua-Kona in 1981, where it continues today.[4] The Ironman World Championship has become known for its grueling length, harsh race conditions, and Emmy Award-winning television coverage.
            <br><br>
            Now you know the background, what we are really interested in here is the statistics...  It's worth mentioning that races take place all over the world, in different temperatures and climates.  Winds will be different year on year (which could seriously impact bike splits), and courses include a variety of different elevations (a much hillier course is generally more challenging that a flat one).
            <br><br>
            Though I'm sure you'll find various interesting uses for the data, this website looks at answering the question of "what is a good time for Ironman (insert your race here)".
            <br><br>
            To view information, cool graphics and some interesting stats on the races, click [[[here]]]
            <br><br>
            Alternatively if you're a budding Data Scientist, bulk data is available to download [[[here]]] (the download is a .zip file which contains .xml data)
            <br><br>
            </body>
        </div>
    </div>
</html>


